@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --verde: #03C874;
    --azul: #274A9D;
    --azul-hover: #0f2a69;
    --cinza: #f8f8f8;
    --azul-escuro: #26324B;
    --branco: #fff;
}

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f8f8f8;
    color: #fff;
}
.conteiner{
    margin: auto;
    max-width: 1920px;
}
.menu-lateral{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 100%;
    padding: 40px 10px;
    background: #274A9D;
    display: flex;
    justify-content: space-between;

}

.menu-lateral-header{
    width: 100%;
    margin-bottom: 16px;
}

.logo-img{
    width: 90%;
    min-height: 90%;
}
.menu-lateral a{
    font-family: inherit;
    font-size: 14px; 
    cursor: pointer;
    padding: 0;
    color: #fff;
    text-decoration: none;

}
.menu-lateral .link{
    display: block;
    width: 180px;
    height: 33px;
    background: transparent;
    border: 1.5px solid #0f2a69;
    border-radius: 4px;
    font-family: inherit;
    font-size: 8pt; 
    color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
    margin: 7px;
}

.menu-lateral .link{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 30px;
    padding: 16px 10px;
    text-decoration: none;
    
}

.ativo{
    width: 178px;
    height: 30px;
    background: #0f2a69 !important;
}

.menu-lateral .link:hover{
    width: 178px;
    height: 30px;
    background: #0f2a69;
}

.menu-lateral .link i{
    position: relative;
    font-size: 13px;
    padding-right: 5px;
}

.menu-lateral .link span{
    font-size: 14px;
    font-weight: 400;
}

.principal{
    margin-left: 250px;
    margin-right: 6px;
}

.principal > h1{
    margin-top: 50px;
    color: #26324B;
    font-size: 24px;
    font-weight: 500;
}

.sair{
    position: absolute;
}

hr{
    border: 1px solid #E5EBF1;
}

.cadastrar{
    background: var(--verde);
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    color: var(--branco);
    font-family: inherit;
}

.btn-cadastrar{
    display: flex;
    justify-content: right;
}

.pesquisar{
    display: flex;
    justify-content: right;
}