@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f8f8f8;
    color: #fff;
}
.menu-lateral{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    background: #274A9D;
}

.menu-lateral-header{
    width: 100%;
    margin-bottom: 16px;
}

.logo-img{
    width: 50%;
    min-height: 50%;
    

}

.menu-lateral button{
    width: 150px;
    height: 45px;
    background: transparent;
    border: 2px solid #1C3B85;
    border-radius: 4px;
    font-family: inherit;
    font-size: 8pt; 
    color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
    margin: 7px;
}

.menu-lateral button > span{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 30px;
    padding: 0 16px 0 12px;
    
}

.menu-lateral button:hover > span{
    width: 148px;
    height: 43px;
    border-radius: 1px;
    border: 0;
    background: #1C3B85;
}

.menu-lateral button i{
    position: relative;
    font-size: 13px;
}

.menu-lateral button span{
    font-size: 13px;
    font-weight: 400;
}

.principal{
    margin-left: 250px;
    margin-right: 6px;
}

.principal > h1{
    margin-top: 50px;
    color: #26324B;
    font-size: 24px;
    font-weight: 500;
}