

body {
    margin: 0;
}

.login-principal {
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: felx;
    justify-content: center;
    align-items: center;
}

.login-esquerda {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-esquerda > h1 {
    color: #394475;
}

.login-direita {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}